.basic-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.feather-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  margin-top: 12px;
  font-size: 0.95rem;
  font-style: italic;
  color: #444;
}
