.dropdown-menu{
    height: 300px;
    overflow-y: auto;
    /* background-color: black; */
}
.marqueee p {
  display: inline-block;
  padding-left: 100%;             /* start from outside the screen */
  padding-right:90%;
  animation: marqueee 6s unset infinite;
  /* font-weight: bold; */
  /* background-color: white; */
  /* width:60px ; */
  color: #fff;
}




@keyframes marqueee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}