body{
    background: var(--body-bg);
}
.aww{
    /* background-image: url("/src/assets/Images/dash.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    background: var(--primary-color);
}


.acc{
    background-color: white !important;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2) }
  100% { transform: scale(1); opacity: 1; }
}

.trophy-pulse {
  animation: pulse 1.5s infinite ease-in-out;
  color: #ff9500; /* Bootstrap warning/gold */
  
}

.accordion-button:not(.collapsed) {
  background-color: #ff9500 !important;   /* or your preferred bg */

}

.accordion-item {
  border: none;
  margin-bottom: 0.8rem;
  background: #212529;
  color: #f8f9fa;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-button {
  background: var(--primary-color);
  color: #f8f9fa;
}

.accordion-button:not(.collapsed) {
  /* background: ; */
  color: #fff;
}

.accordion-body {
  background: var(--primary-color);
}

.list-group-item {
  background: transparent;
  color: #adb5bd;
}

.list-group-item.winner {
  border: 2px dotted #ff9500;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  /* box-shadow: 0 0 10px rgba(255, 193, 7, 0.4); */
}

.winner {
    background-color: #37643d !important;
}
.winner .text-dark{
    color: white !important;
}

