body{
    background: var(--body-bg);
}
.aww{
    /* background-image: url("/src/assets/Images/dash.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    background: var(--primary-color);
}

.winner {
    background-color: #37643d !important;
}
.winner .text-dark{
    color: white !important;
}
.acc{
    background-color: white !important;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2) }
  100% { transform: scale(1); opacity: 1; }
}

.trophy-pulse {
  animation: pulse 1.5s infinite ease-in-out;
  color: #ff9500; /* Bootstrap warning/gold */
  
}

.accordion-button:not(.collapsed) {
  background-color: #ff9500 !important;   /* or your preferred bg */

}


